<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Grist Docx Generator</title>

    <!-- Uses Vue.js and the Grist Plugin API -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js"></script>
    <script src="https://docs.getgrist.com/grist-plugin-api.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/docxtemplater/3.31.2/docxtemplater.js"></script>
    <script src="https://unpkg.com/pizzip@3.1.1/dist/pizzip.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.js"></script>
    <script src="https://unpkg.com/pizzip@3.1.1/dist/pizzip-utils.js"></script>

    <script src="docxgenerator.js"></script>
    <link rel="stylesheet" href="index.css">
  </head>
  <body>
    <div id="app">
      <div class="status" v-if="status">
        <template v-if="status === 'waiting'">
          <p>Waiting for data...</p>
        </template>
        <template v-else>
          {{ status }}
        </template>
      </div>
      <template v-else>
        <button class="button" v-on:click="generate">{{ outputDocName }}</button>
        <div class="result" v-if="results">{{ results }}</div>
      </template>
    </div>
  </body>
</html>
